@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 62%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 62%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 62%;

    --primary: 222 84% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 222 84% 62%;

    --muted: 222 84% 95%;
    --muted-foreground: 222 84% 40%;

    --accent: 222 84% 95%;
    --accent-foreground: 222 84% 62%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 222 84% 90%;
    --input: 222 84% 90%;
    --ring: 222 84% 62%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glass-effect {
  @apply bg-black bg-opacity-50 backdrop-blur-lg;
}

.gradient-bg {
  @apply bg-black;
}